Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-narrowing-conversions,
  -performance-enum-size,
WarningsAsErrors: "*"
FormatStyle: file
